*.iml
.gradle
/**/build/
/local.properties
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.DS_Store
/captures
.externalNativeBuild
/media
/app/libs/**
/app/src/main/graphql/**
/app/src/main/res/**/icon.png
/app/src/main/res/**/background.9.png
.signing/